.svn
.*.swp
*.[ao]
config.h
Jamrules
/ccdv
/config.log
/config.status
/python/setup.py
/src/maxent
/src/opt
/test/data/model_temp
/test/test_display
/test/test_event
/test/test_gistrainer
/test/test_itemmap
/test/test_lbfgstrainer
/test/test_maxentmodel
/test/test_mmapfile
/test/test_modelfile
/tools/jam
